body {
  margin: 0;
  background-color: black;
  background: url(techSkyline.jpg) no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  padding: 0;
}

.email-text {
  margin-left:10%;
  text-align:center;
  margin-right:10%;
  font-family:Arial;
  font-size:18px;
  padding-bottom: 12%;
  color: #fff !important;
}

.email-header {
  text-align:center;
  font-family:Arial;
  margin-top: 10%;"
  color: #fff;
}
